* {
  font-family: monospace;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 105vh;
  width: 100%;
  background-color: #000;
}

.snowflake {
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running
}

@-webkit-keyframes snowflakes-fall {
  0% {
    opacity: 0.5;
    top: -10%
  }

  100% {
    top: 100%
  }
}

@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }

  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px)
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px)
  }

  50% {
    transform: translateX(80px)
  }

  100% {
    transform: translateX(0px)
  }
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s
}


canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  top: 0;
  background-color: rgb(5, 5, 39);
  width: 100%;
  height: 105vh;
  z-index: 9999;
}

.openLetter {
  display: block;
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px #ffffff;
  border-radius: 15px;
  align-items: center;
}

#section1,
#section2 {
  width: 50%;
  border: 1px solid #ffffff;
  border-radius: 20px;
  margin: 0 10px;
  padding: 0 10px;  
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#section1 {
  float: left;
}

#section2 {
  float: right;
  clear: both; /*Display as diagonal*/
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9998;
  background: transparent;
  overflow: hidden;
}

.info {
  position: absolute;
  bottom: -20%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 999;
  color: #ffffff;
  font-size: 1.5rem;
  background: red;
  width: 0;
}

.musicBox {
  display: flex;
  position: absolute;
  left: 50%;
  top: 10%;
  width: 250px;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: #ffffff; */
  transform: translate(-50%, -50%);
}

.musicBox img {
  width: 80px;
  height: 80px;
  border-radius: 15px 15px;
}

#musicText p:nth-child(1) {
  color: rgb(105, 103, 103);
}

.message {
  position: absolute;
  bottom: 5%;
  right: 37%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.message button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid springgreen;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  cursor: pointer;
}

.message button p {
  position: absolute;
  top: -25px;
  right: -10px;
  font-size: 1.2rem;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
}

.chatbox {
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: 105vh;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 9999;
}

.chatbox.visible {
  display: block;
}

.chatboxHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 600px;
  transform: translate(-50%, -50%); 
  background-color: rgba(255, 255, 255, 0.1);
}

/*Responsible*/
@media screen and (max-width: 600px) {
  .loading img {
    width: 200px;;
  }
  
  .openLetter {
    display: flex;
    flex-direction: column;
  }

  .openLetter button {
    position: absolute;
    top: 50px;
  }

  .info {
    position: absolute;
    bottom: -25%;
    left: 5px;
  }

  .message {
    right: 0;
  }
  
  .chatboxHeader {
    top: 40%;
  }

  .chatboxHeader div div{
    align-items: center; /*justify-content: center if we use flex-direction: column*/
    flex-direction: column;
  }
}